<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Board</title>
</head>

<body>
  <h1>Messages</h1>
  <form action="/message" method="POST">
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
  </form>
</body>

</html>