<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login
  </title>
  <style>
    .wrapper {
      width: 400px;
      margin: 200px auto 0 auto;
      text-align: center;
    }

    .inputContaier {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form input, form button {
      margin-top: 20px;
    }

    button {
      width: 50px;
    }
  </style>

</head>

<body>
  <div class="wrapper">
    <h1 class="title">
      Login
    </h1>
    <form class="inputContaier" action="/login" method="POST">
      <div><span>Username:</span><input type="text" name="username"></input></div>
      <div><span>Password:</span><input type="password" name="password"></input></div>
      <button type="submit">Login</button>
    </form>
  </div>
</body>

</html>