<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <h1>Hello</h1>
  <form action="/payment/2765c43a-4f85-463e-af69-bb997c5d65f8" method="GET">
    <button type="submit">submit</button>
  </form>
  <a href="/payment-result">查看付款結果</a>
</body>

</html>