<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <h1>Hello</h1>
  <form action="/payment/7fe1f8b0-be89-4095-98e4-5ea4e7e5be30" method="POST">
    <button type="submit">submit</button>
  </form>
  <a href="/payment-result">查看付款結果</a>
</body>

</html>