<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>image upload</title>
</head>

<body>
  <form action="/handleUpload" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" />
    <input type="file" name="file" />
    <button type="submit">submit</button>
  </form>
</body>

<script>
  const form = document.querySelector('form')
  const inputFile = document.querySelector('input[name=file]')
  const inputName = document.querySelector('input[name=name]')

  // input.addEventListener('change', (e) => {
  form.addEventListener('submit', (e) => {
    e.preventDefault()
    const image = inputFile.files[0]
    const name = inputName.value

    let formData = new FormData(form)
    // formData.append("file", image)
    // formData.append("name", name)

    for (var p of formData) {
      console.log(p);
    }

    fetch('/handleUpload', {
      method: "POST",
      body: formData
    })
      .then((res) => { console.log(res) })
  })

</script>

</html>