<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>image upload</title>
</head>

<body>
  <form action="/photos" method="POST" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <button type="submit">submit</button>
  </form>
  <div class="result"></div>
</body>

<script>

  window.onload = function () {
    //Check File API support
    if (window.File && window.FileList && window.FileReader) {
      var filesInput = document.querySelector("input[name=files]");
      filesInput.addEventListener("change", function (event) {
        var files = event.target.files; //FileList object
        var output = document.querySelector(".result");
        for (var i = 0; i < files.length; i++) {
          var file = files[i];
          //Only pics
          if (!file.type.match('image'))
            continue;
          var picReader = new FileReader();
          picReader.addEventListener("load", function (event) {
            var picFile = event.target;
            var div = document.createElement("div");
            div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
              "title='" + picFile.name + "'/>";
            output.insertBefore(div, null);
          });
          //Read the image
          picReader.readAsDataURL(file);
        }
      });
    } else {
      console.log("Your browser does not support File API");
    }
  }

  const form = document.querySelector('form')
  form.addEventListener('submit', (e) => {
    e.preventDefault()

    let formData = new FormData(form)

    fetch('/photos', {
      method: "POST",
      body: formData
    })
      .then((res) => {
        // console.log(res);
        return res.json()
      })
      .then(links => {
        console.log(links);
      })
      .catch(err => {
        console.log(err);
      })
  })
</script>

</html>